/* .card {
  background: #fff;
  border-radius: 2px;
  height: 325px;
  margin: 0.5rem;
  position: relative;
  width: 270px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
  }

.card > .img-container {
  height: 42%;
  overflow: hidden;
  text-align: center;
  background:rgb(145, 228, 215);
  padding:10px
}
.card > .img-container > img {
  width: 30%;
  
  
}

.card > .content {
  padding-left: 0.2rem;
  padding-right: 1rem;
  font-size: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 10px;
}
.span button {
  position: absolute;
} */
